<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>Bienvenido a el colgado</h1>
	<form action="/captura" method="POST">
		<input type="text" name="letra">
		<input type="submit" value="Guardar">			
	</form>
</body>
</html>